{% extends 'auctions/layout.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'auctions/links.css' %}">
{% endblock styles %}

{% block nav %}
{% include 'auctions/nav_snippet.html' with link1="active" %}
{% endblock nav %}

{% block body %}

<div class="row">
  {% for category in categories %}

  {% if forloop.counter0 == 0 or forloop.counter0|divisibleby:rows %}
  <div class="col-auto">
    <div class="list-group">
      {% endif %}

      <a class="list-group-item list-group-item-action mb-2"
         href="{% url 'auctions:category_listing' category.id %}">{{ category }}</a>

      {% if forloop.counter|divisibleby:rows %}
    </div>
  </div>
  {% endif %}

  {% endfor %}

</div>

{% endblock body %}