{% load wiki_filters %}

{# Include the hidden fields #}
{% for hidden in form.hidden_fields %}
{{ hidden }}
{% endfor %}

{# Include the visible fields #}
{% for field in form.visible_fields %}
<div class="form-group">

  {% if no_label %}
  {% else %}
  <label for="{{ field.id_for_label }}">{{ field.label }}</label>
  {% endif %}


  {{ field | add_class:"form-control"}}
  {% if field.help_text %}
  <small class="form-text text-muted">{{ field.help_text | safe }}</small>
  {% endif %}
  {{ field.errors }}

</div>
{% endfor %}